@model quiz.Models.tbl_category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="text-align:center;background-color:#808080">Add Category</h1>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cat_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<hr />
<div style="overflow:scroll">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Room Name </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in ViewData["list"] as List<quiz.Models.tbl_category>)
            {
                <tr>
                    <td>@item.cat_id</td>
                    <td>@item.cat_name</td>
                    <td>@item.cat_encryptedstring</td>
                </tr>
            }
        </tbody>
    </table>
</div>
