@model quiz.Models.TBL_QUESTIONS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizStart</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="container">

            <div class="row">


                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">

                    <div class="row">
                        <h1 style="font-family:Arial,Arial, Helvetica, sans-serif">@Html.DisplayFor(x => x.Q_TEXT)</h1>

                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="row">
                        <h5>@Html.RadioButtonFor(x => x.OPA, @Model.QUESTION_ID) @Model.OPA </h5>

                    </div><br />
                    <div class="row">
                        <h5>@Html.RadioButtonFor(x => x.OPB, @Model.QUESTION_ID) @Model.OPB </h5>

                    </div><br />
                    <div class="row">
                        <h5>@Html.RadioButtonFor(x => x.OPC, @Model.QUESTION_ID) @Model.OPC </h5>

                    </div><br />
                    <div class="row">
                        <h5>@Html.RadioButtonFor(x => x.OPD, @Model.QUESTION_ID) @Model.OPD </h5>

                    </div>

                    <div class="row" style="display:none">
                        @Html.TextBoxFor(x => x.COP)

                    </div>

                    <div>

                    </div><br /><br />
                    <div class="rowm">
                        <input type="submit" value="submit" class="btn btn-success" />
                    </div>

                </div>

                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                    <img src="~/Content/img/n-1.jpg" class="img-responsive"/>

                </div>

            </div>

        </div>
    

     }
    
</body>
</html>
