@model quiz.Models.TBL_QUESTIONS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizStart</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Q_TEXT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Q_TEXT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Q_TEXT, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.OPA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span> @Html.RadioButtonFor(model => model.OPA, new { htmlAttributes = new { @class = "form-control" } })@Model.OPA</span> 
                    @Html.ValidationMessageFor(model => model.OPA, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.OPB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span> @Html.RadioButtonFor(model => model.OPB, new { htmlAttributes = new { @class = "form-control" } })@Model.OPB</span>
                    @Html.ValidationMessageFor(model => model.OPB, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.OPC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span> @Html.RadioButtonFor(model => model.OPC, new { htmlAttributes = new { @class = "form-control" } })@Model.OPC</span>
                    @Html.ValidationMessageFor(model => model.OPC, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.OPD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span> @Html.RadioButtonFor(model => model.OPD, new { htmlAttributes = new { @class = "form-control" } })@Model.OPD</span>
                    @Html.ValidationMessageFor(model => model.OPD, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back", "Index")
    </div>
</body>
</html>
