<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
  
</head>
<body>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " style="height:900px;border:1px solid gray;background-color:gray">
            <div style="width:100%;margin-left:15px;margin-top:5px" class="container list-group">
                <div class="list-group-item">
                    @Html.ActionLink("Add Category", "AddCategory", new { @class = "list-group-items" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Add Questions", "Addquestion", new { @class = "list-group-items" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Report", "Dashboard", new { @class = "list-group-items" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Logout", "Logout", new { @class = "list-group-items" })
                </div>

            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 btn-btn-sucess" style="height:900px;border:1px solid grey">
            @RenderBody()
        </div>
    </div>
</body>
</html>
